@charset "UTF-8";
@media screen and (max-width: 1024px) {
  .titulo {
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  .titulo {
    height: 350px;
  }
  .santa-monica {
    display: flex;
    flex-direction: column;
    background-color: #b89c6d;
    margin-top: -111px;
    height: 246px;
  }
  .footer img {
    width: 10%;
  }
}
@media screen and (max-width: 576px) {
  body {
    background-color: antiquewhite;
  }
  .titulo {
    height: 327px;
  }
  .santa-monica {
    display: flex;
    flex-direction: column;
    background-color: #b89c6d;
    margin-top: -239px;
    height: 298px;
  }
  .santa-monica p {
    font-size: 15px;
  }
  .servicios img {
    width: 100%;
    padding-top: 0%;
  }
  .footer img {
    width: 10%;
  }
}
@media screen and (max-width: 320px) {
  .santa-monica {
    display: flex;
    flex-direction: column;
    background-color: #b89c6d;
    margin-top: -381px;
  }
  .servicios {
    margin-top: 90px;
  }
  .footer img {
    width: 15%;
  }
}
/*cabañas*/
@media screen and (max-width: 800px) {
  .cabaña-descripcion {
    margin-top: -113px;
  }
}
@media screen and (max-width: 576px) {
  .cabaña-descripcion {
    margin-top: -210px;
  }
}
@media screen and (max-width: 320px) {
  .nuestras-cabañas {
    height: 50px;
  }
  .cabaña-descripcion {
    margin-top: -375px;
  }
}
/*Ubicación*/
@media screen and (max-width: 576px) {
  iframe {
    width: 100%;
  }
  .nuestra-ubicacion {
    height: 300px;
  }
}
@media screen and (max-width: 320px) {
  .nuestra-ubicacion {
    height: 500px;
  }
  iframe {
    width: 100%;
    height: 70%;
  }
}
/*Contacto*/
@media screen and (max-width: 800px) {
  .contactanos {
    height: 300px;
  }
  .form-contacto {
    width: 75%;
    margin-left: 12%;
  }
}
@media screen and (max-width: 576px) {
  .form-contacto {
    width: 300px;
    margin-left: 10%;
  }
}
@media screen and (max-width: 320px) {
  .btn {
    margin-left: -22px;
  }
}
/*Reservar*/
@media screen and (max-width: 576px) {
  .reservar {
    height: 300px;
  }
}
body {
  background-color: #e2bf81;
  max-width: 100%;
}

.titulo {
  font-family: "Staatliches", cursive;
  font-size: 200%;
  text-align: center;
  color: #fcf0f0;
  text-shadow: 0px 0px 10px black;
  background-repeat: none;
  height: 65vh;
  width: 100%;
  background-image: url(../assets/portadaestirada.jpg);
  background-repeat: none;
}
.titulo-vivasierra {
  text-align: center;
  padding-top: 30px;
}

.santa-monica {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 200px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b89c6d;
}
.santa-monica h4 {
  text-align: left;
}

.servicios {
  text-align: center;
  padding-top: 50px;
  background-color: #e2bf81;
}
.servicios p {
  padding-top: 30px;
  font-weight: bolder;
}
.servicios img {
  opacity: 0.9;
}

.reservar {
  font-family: "Staatliches", cursive;
  font-size: 200%;
  text-align: center;
  color: #fcf0f0;
  text-shadow: 0px 0px 10px black;
  background-repeat: none;
  height: 65vh;
  width: 100%;
  background-image: url(../assets/images.jpg);
}
.reservar h1 {
  text-align: center;
  padding-top: 30px;
}

.formcontacto {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25%;
  width: 50%;
  padding: 30px;
  background-color: rgba(153, 54, 8, 0.662745098);
  border-radius: 25px;
}

.mb-3 {
  margin-bottom: 10px;
}

.btn {
  background-color: #000000;
  font-weight: bold;
  color: #ffffff;
  border: none;
  margin-top: 15px;
  padding: 15px;
}

.btn:hover {
  background-color: #6d4a4a;
}

.nuestra-ubicacion {
  font-family: "Staatliches", cursive;
  font-size: 200%;
  text-align: center;
  color: #fcf0f0;
  text-shadow: 0px 0px 10px black;
  background-repeat: none;
  height: 65vh;
  width: 100%;
  background-image: url(../assets/visita.jpg);
  background-repeat: none;
}
.nuestra-ubicacion h1 {
  text-align: center;
  padding-top: 30px;
}
.nuestra-ubicacion-lugares {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #000000;
  padding: 40px;
}
.nuestra-ubicacion-mapa {
  text-align: center;
  padding: 50px;
  background-image: url(../assets/ubicacion.jpg);
  background-repeat: none;
}

.contactanos {
  font-family: "Staatliches", cursive;
  font-size: 200%;
  text-align: center;
  color: #fcf0f0;
  text-shadow: 0px 0px 10px black;
  background-repeat: none;
  height: 65vh;
  width: 100%;
  background-image: url(../assets/reservar.jpg);
  background-repeat: none;
}
.contactanos h1 {
  text-align: center;
  padding-top: 30px;
}

.form-contacto {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25%;
  width: 50%;
  padding: 30px;
  background-color: rgba(153, 54, 8, 0.662745098);
  border-radius: 25px;
}

.mb-3 {
  margin-bottom: 10px;
}

.btn {
  background-color: #000000;
  font-weight: bold;
  color: #ffffff;
  border: none;
  margin-top: 15px;
  padding: 15px;
}

body {
  background-color: #e2bf81;
  max-width: 100%;
}

.nuestras-cabañas {
  font-family: "Staatliches", cursive;
  font-size: 200%;
  text-align: center;
  color: #fcf0f0;
  text-shadow: 0px 0px 10px black;
  background-repeat: none;
  height: 65vh;
  width: 100%;
  background-image: url(../assets/Portada.jpg);
  background-repeat: none;
}
.nuestras-cabañas h1 {
  text-align: center;
  padding-top: 30px;
}

.carousel-inner {
  height: 600px;
  padding-top: 40px;
}

.cabaña-descripcion {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
}

.boton {
  background-color: rgba(0, 0, 255, 0.568);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  text-decoration: none;
  font-size: large;
}

.boton:hover {
  background-color: #be7b06;
  color: rgb(43, 42, 42);
  border-radius: 10px;
  font-size: 19px;
}

.footer {
  background-color: #be7b06;
  height: 150px;
  text-align: center;
  color: #fcf0f0;
}
.footer img {
  width: 4%;
  display: flex;
  margin-top: -24px;
}

.redes li a {
  color: #fcf0f0;
  text-align: center;
  text-decoration: none;
}

.bi {
  color: #fcf0f0;
}

.navbar {
  height: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  z-index: 1;
  text-align: center;
  background-color: #be7b06;
}
.navbar-toggler-icon {
  background-size: 78%;
}
.navbar-toggler {
  background-color: #be7b06;
}
.navbar-collapse {
  background-color: #be7b06;
}
.navbar .bg-menu {
  background-color: #be7b06;
}
.navbar .nav-link {
  color: #fcf0f0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}
.navbar .nav-link:hover {
  background-color: rgba(250, 235, 215, 0.616);
  color: rgb(51, 50, 50);
  border-radius: 10px;
  font-size: 19px;
}

/*# sourceMappingURL=main.css.map */
