* {
    padding: 0;
    margin: 0;
}


.logo {
    width: 4%;
    position: fixed;
    right: 96%;
    
    
    
}
.lineamenu { 
    display: flex;
    height: 100px;
    background-color: rgba(70, 70, 70, 0.952);
    justify-content: center;
	align-items: center;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 1;
}

.bg-menu {
    background-color: rgba(70, 70, 70, 0.747);
}

.nav-link {
    color: #fcf0f0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}


.carousel {
    position: relative;
    top: 100px;
}
.carousel-item {
    height: 400px;

}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.623);
}



/*reservas*/
.reservar { 
    background-color: rgba(31, 27, 22, 0.5);
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    
}



.titulo {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 4px black;
    position: relative;
    top: 60px;
    background-image: url(../assets/portadaestirada.jpg);
    width: 100%;
    height: 65vh;
    
}

.titulo h1 { 
    position: relative;
    top: 40px;
}

.titulo h6 {
    position: relative;
    top: 285px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: none;
    text-align: center;
}


.descripcion {
    position: relative;
    top: 110px;
    background-color: silver
}



/*Nuestras Cabañas*/

.nuestrascabañas {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 4px black;
    position: relative;
    top: 60px;
    background-image: url(../assets/Portada.jpg);
    width: 100%;
    height: 65vh;
}

.nuestrascabañas h1 {
    position: relative;
    top: 40px;
}
.nuestrascabañas h2{
    position: relative;
    top: 350px;
    font-size: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: none;
    text-align: center;
}

.nuestrascabañas h3{
    position: relative;
    top: 650px;
    font-size: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: none;
    text-align: center;
}




.cabaña1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(37, 37, 37); 
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    position: relative;
    top: 108px;
    
}

.imagenes1 img {
    width: 300px; 
	height: 200px; 
	padding: 10px;
}


.cabaña2-img {
    width: 500px;
    border-radius: 10%;
    
}

.cabaña2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    position: relative;
    top: 130px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    position: relative;
    top: 170px;
    
    
}




/* Ubicación */

.nuestraubicacion {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 4px black;
    position: relative;
    top: 60px;
    background-image: url(../assets/visita.jpg);
    width: 100%;
    height: 65vh;
}
.nuestraubicacion h1 {
    position: relative;
    top: 40px;
}

.mapa {
    text-align: center;
    position: relative;
    top: 108px;
    background-image: url(../assets/ubicacion.jpg);
}

.lugaresavisitar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgba(3, 3, 3, 0.8); 
    color: rgb(189, 184, 184);
    color: rgb(189, 184, 184);
    position: relative;
    top: 108px;
}

/* Contacto */

.contactanos {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 4px black;
    position: relative;
    top: 60px;
    background-image: url(../assets/reservar.jpg);
    width: 100%;
    height: 65vh;

}

.contactanos h1 {
    position: relative;
    top: 40px;
}

.contactoform {
    position: relative;
    top: 30px;
    justify-content: space-between;
}

.contacto {
    position: relative;
    top: 50px;
    
}


/* Reservar */

.reservar {
        font-family: 'Staatliches', cursive;
        font-size: 200%;
        text-align: center;
        color: #fcf0f0;
        text-shadow: 0px 0px 4px black;
        position: relative;
        top: 60px;
        background-image: url(../assets/images.jpg);
        width: 100%;
        height: 65vh;
    
}

.reservar h1 {
    position: relative;
    top: 40px;
}

.form {
    position: relative;
    top: 100px;
    justify-content: space-between;
    
}

/* Footer */

.footer {
    position: relative;
    top: 150px;
    background-color: rgba(70, 70, 70, 0.952);
    height: 150px;
    text-align: center;
    color: #fcf0f0;
    padding-bottom: 70px;
}

.footer img {
    width: 4%;
    position: relative;
    top: 0px;
    left: 557px;
    
    
}

.redeslista {
    color: #fcf0f0;
    justify-content: center;
	align-items: center;
    position: relative;
    top: 20px;
    right: 30px;
    justify-content: space-between;
    
}


.redes li a {
     color: #fcf0f0;
     text-align: center;
     text-decoration: none;
}

/* Media Q*/

@media only screen and ( max-width: 500px) {
    body {
        background-color: black;
    }
    .navbar-toggler {
    background-color: wheat;
    position: relative;
    left: 400px;
}
    main {
        width: 190%;
    }
}















