* {
    padding: 0;
    margin: 0;
    
}


body{
    background-color: #e2bf81;
    max-width: 100%;
}

/* Inicio*/
.navbar  { 
    height: 100px;
    justify-content: center;
	align-items: center;
    width: 100%;
    height: 65px;
    z-index: 1;
    text-align: center;
}

.bg-menu {
    background-color: #be7b06;
}



.nav-link {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    
}

.navbar-toggler-icon {
    background-size: 78%;
}

.navbar-toggler {
    background-color: #c78006 ;
}

.navbar-collapse {
        background-color: #c78006f6;
    }

.titulo {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 10px black;
    background-image: url(../assets/portadaestirada.jpg);
    background-repeat: none;
    height: 65vh;
    
}
.titulo-vivasierra { 
    text-align: center;
    padding-top: 30px;
}


.santamonica {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #b89c6d;
    display: flex;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.santamonica h4 {
    text-align: left;
}


.servicios {
    text-align: center;
    padding-top: 50px;
    background-color: #e2bf81;
}

.servicios p {
    padding-top: 30px;
}




/*cabañas*/

.nuestrascabañas {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 10px black;
    background-image: url(../assets/Portada.jpg);
    background-repeat: none;
    height: 65vh;
    
}

.nuestrascabañas h1 {
    text-align: center;
    padding-top: 30px;
}

.carousel-inner {
   height: 400px;
   padding-top: 40px;
}

.cabaña1descripcion {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
}

.boton{
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.568);
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
    text-decoration: none;
    font-weight: 1000px;
    font-size: large;
}

/* UBICACION */

.nuestraubicacion {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 4px black;
    background-image: url(../assets/visita.jpg);
    background-repeat: none;
    width: 100%;
    height: 65vh;
}
.nuestraubicacion h1 {
    text-align: center;
    padding-top: 30px;
}

.nuestraubicacion-lugares {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #000000;
    padding: 40px;
    
}

.nuestraubicacion-mapa {
    text-align: center;
    padding: 50px;
    background-image: url(../assets/ubicacion.jpg);
    background-repeat: none;
}



/* CONTACTO */

.contactanos {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 4px black;
    background-image: url(../assets/reservar.jpg);
    width: 100%;
    height: 65vh;

}

.contactanos h1 {
    text-align: center;
    padding-top: 30px;
}

.formcontacto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25%;
    width: 50%;
    padding: 30px;
    background-color: #993608a9;
    border-radius: 25px; 
}

.mb-3 {
    margin-bottom: 10px;
}

.btn {
    background-color: #000000;
    font-weight: bold;
    color: #ffffff;
    border: none;
    margin-top: 15px;
    padding: 15px;
}

/* RESERVAR */

.reservar {
        font-family: 'Staatliches', cursive;
        font-size: 200%;
        text-align: center;
        color: #fcf0f0;
        text-shadow: 0px 0px 4px black;
        background-image: url(../assets/images.jpg);
        width: 100%;
        height: 65vh;
    
}

.reservar h1 {
    text-align: center;
    padding-top: 30px;
}


/* FOOTER */

.footer {
    background-color: #be7b06;
    height: 150px;
    text-align: center;
    color: #fcf0f0;
}

.footer img {
    width: 4%;
    display: flex;
    margin-top: -24px;
    
}

.redes {
    color: #fcf0f0;
    list-style: none;
    
}


.redes li a {
     color: #fcf0f0;
     text-align: center;
     text-decoration: none;
}

/* MEDIA Q*/

/* INDEX */
@media screen and ( max-width: 1024px) {
    .titulo {
        height: 400px;
    }
}

@media screen and ( max-width: 800px) {
    .titulo {
        height: 350px;
    }

    .santamonica {
        display: flex;
        flex-direction: column;
        background-color: #b89c6d;
        margin-top: -1px;
        height: 246px;
    }

    .footer img {
        width: 10%;
    }
}

@media screen and ( max-width: 576px) {
    
     body {
        background-color: antiquewhite;
    }

    .titulo {
        height: 327px;
    
    }
    .santamonica {
        display: flex;
        flex-direction: column;
        background-color: #b89c6d;
        margin-top: -39px;
        height: 298px;
    }
    .santamonica p {
        font-size: 15px;
    }
   
    

    .servicios img {
        width: 100%;
        padding-top: 0%;
    }

    .footer img {
        width: 10%;
      }
}

@media screen and ( max-width: 320px) {
    .santamonica {
        display: flex;
        flex-direction: column;
        background-color: #b89c6d;
        margin-top: -340px;
        height: 437px;
      }
      .footer img {
        width: 15%;
      }
      
}

/* CABAÑAS MEDIA Q */


@media screen and ( max-width: 800px) {
    .nuestrascabañas {
        height: 500px;
    }
}

@media screen and ( max-width: 576px) {
   .nuestrascabañas {
    height: 300px;
   }
   
    .cabaña1descripcion {
        padding-top: 1px;
    }
}

@media screen and ( max-width: 320px) {
    .nuestrascabañas {
        height: 150px;
       }
       .cabaña1descripcion {
        margin-top: -150px;
    }
}







