* {
    padding: 0;
    margin: 0;
}


body{
    background-color: #e2bf81;
    width: 100%;
}

.navbar  { 
    height: 100px;
    background-color: rgba(70, 70, 70, 0.863);
    justify-content: center;
	align-items: center;
    width: 100%;
    height: 65px;
    z-index: 1;
    text-align: center;
    border:solid;
    border-color: #c78006;
}

.bg-menu {
    background-color: #be7b06;
}



.nav-link {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    
}

.navbar-toggler-icon {
    background-size: 78%;
}

.navbar-toggler {
    background-color: #c78006 ;
}

.titulo {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 10px black;
    background-image: url(../assets/portadaestirada.jpg);
    background-repeat: none;
    height: 75vh;
}
.vivasierra { 
    text-align: center;
    padding-top: 30px;
}

.carousel-item {
    height: 500px;

}


.santamonica {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #b89c6d;
    display: flex;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.santamonica h4 {
    text-align: left;
}


.servicios {
    text-align: center;
    padding-top: 50px;
    background-color: #e2bf81;
}

.servicios p {
    padding-top: 30px;
}

/*reservas*/
.reservar { 
    background-color: rgba(31, 27, 22, 0.5);
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    
}







/*CABAÑAS*/

.nuestrascabañas {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 10px black;
    background-image: url(../assets/Portada.jpg);
    background-repeat: none;
    height: 85vh;
}

.nuestrascabañas h1 {
    text-align: center;
    padding-top: 30px;
}

.card {
   width: 80%;
    background-color: #776443;
    color: aliceblue;
    padding-bottom: 48px;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 58px;
}



/* Ubicación */

.nuestraubicacion {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 4px black;
    background-image: url(../assets/visita.jpg);
    width: 100%;
    height: 65vh;
}
.nuestraubicacion h1 {
    position: relative;
    top: 40px;
}

.mapa {
    text-align: center;
    position: relative;
    top: 108px;
    background-image: url(../assets/ubicacion.jpg);
}

.lugaresavisitar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgba(3, 3, 3, 0.8); 
    color: rgb(189, 184, 184);
    color: rgb(189, 184, 184);
    position: relative;
    top: 108px;
}

/* Contacto */

.contactanos {
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
    color: #fcf0f0;
    text-shadow: 0px 0px 4px black;
    background-image: url(../assets/reservar.jpg);
    width: 100%;
    height: 65vh;

}

.contactanos h1 {
    position: relative;
    top: 40px;
}

.contactoform {
    position: relative;
    top: 30px;
    justify-content: space-between;
}

.contacto {
    position: relative;
    top: 50px;
    
}


/* Reservar */

.reservar {
        font-family: 'Staatliches', cursive;
        font-size: 200%;
        text-align: center;
        color: #fcf0f0;
        text-shadow: 0px 0px 4px black;
        background-image: url(../assets/images.jpg);
        width: 100%;
        height: 65vh;
    
}

.reservar h1 {
    position: relative;
    top: 40px;
}

.form {
    position: relative;
    top: 100px;
    justify-content: space-between;
    
}

/* Footer */

.footer {
    background-color: #be7b06;
    height: 150px;
    text-align: center;
    color: #fcf0f0;
}

.footer img {
    width: 4%;
    display: flex;
    margin-top: -24px;
    
}

.redes {
    color: #fcf0f0;
    list-style: none;
    
    
}


.redes li a {
     color: #fcf0f0;
     text-align: center;
     text-decoration: none;
}

/* Media Q*/

/* INDEX */
@media screen and ( max-width: 1024px) {
    .titulo {
        height: 400px;
    }
}

@media screen and ( max-width: 800px) {
    .titulo {
        height: 350px;
    }

    .santamonica {
        display: flex;
        flex-direction: column;
        background-color: #b89c6d;
        margin-top: -50px;
        height: 246px;
    }

    .footer img {
        width: 10%;
    }
}

@media screen and ( max-width: 576px) {
    
     body {
        background-color: antiquewhite;
    }

    .titulo {
        height: 327px;
    
    }
    .santamonica {
        display: flex;
        flex-direction: column;
        background-color: #b89c6d;
        margin-top: -180px;
        height: 298px;
    }
    .santamonica p {
        font-size: 15px;
    }
   
    
    .navbar-collapse {
        background-color: #c78006a1;
    }
    .servicios img {
        width: 100%;
        padding-top: 0%;
    }

    .footer img {
        width: 10%;
      }
}

@media screen and ( max-width: 320px) {
    .santamonica {
        display: flex;
        flex-direction: column;
        background-color: #b89c6d;
        margin-top: -340px;
        height: 437px;
      }
      .footer img {
        width: 15%;
      }
      
}

/* CABAÑAS */


@media screen and ( max-width: 800px) {
    .nuestrascabañas {
        height: 700px;
    }
}










