body{
    background-color: #e2bf81;
    max-width: 100%;
}
.nuestrascabañas {
    @include estilo-titulo;
    background-image: url(../assets/Portada.jpg);
    background-repeat: none;
    h1 {
        text-align: center;
        padding-top: 30px;
    }
    
}
.carousel-inner {
    height: 400px;
    padding-top: 40px;
 }
 .cabaña1descripcion {
    font-family: $fuentetextos;
    text-align: center;
    padding: 20px;
}

.boton {
    @include boton;
}

.boton:hover {
    background-color: $fondonav;
        color: rgb(43, 42, 42);
        border-radius: 10px;
        font-size: 19px;
}
