.contactanos {
    @include estilo-titulo;
    background-image: url(../assets/reservar.jpg);
    background-repeat: none;
    h1 {
        text-align: center;
        padding-top: 30px;
}
    
}

.formcontacto {
    @include formularios;
}


.mb-3 {
    margin-bottom: 10px;
}

.btn {
    @include enviar;
}

@media screen and ( max-width: 800px) {
    .contactanos {
        height: 300px;
    }
    .formcontacto {
        width: 75%;
        margin-left: 12%;
    
    }
}

@media screen and ( max-width: 576px) {
    .formcontacto {
        width: 80%;
        margin-left: 10%;
    
    }
}

@media screen and ( max-width: 576px) {
    .reservar {
        height: 300px;
    }
}