
body{
    background-color: #e2bf81;
    max-width: 100%;
}
.titulo {
    
        @include estilo-titulo;
        background-image: url(../assets/portadaestirada.jpg);
        background-repeat: none;
        &-vivasierra { 
            text-align: center;
            padding-top: 30px;
        }
      
}


.santamonica {
    font-family: $fuentetextos;
    display: flex;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #b89c6d;
    & h4 {
        text-align: left;
    }
}

.servicios {
    text-align: center;
    padding-top: 50px;
    background-color: #e2bf81;
    p{ 
        padding-top: 30px;
    }
}


