@media screen and ( max-width: 1024px) {
    .titulo {
        height: 400px;
    }
}

@media screen and ( max-width: 800px) {
    .titulo {
        height: 350px;
    }

    .santa-monica {
        display: flex;
        flex-direction: column;
        background-color: #b89c6d;
        margin-top: -111px;
        height: 246px;
    }

    .footer img {
        width: 10%;
    }
}

@media screen and ( max-width: 576px) {
    
     body {
        background-color: antiquewhite;
    }

    .titulo {
        height: 327px;
    
    }
    .santa-monica {
        display: flex;
        flex-direction: column;
        background-color: #b89c6d;
        margin-top: -239px;
        height: 298px;
    }
    .santa-monica p {
        font-size: 15px;
    }
   
     .servicios img {
        width: 100%;
        padding-top: 0%;
    }

    .footer img {
        width: 10%;
      }
}

@media screen and ( max-width: 320px) {
    .santa-monica {
        display: flex;
        flex-direction: column;
        background-color: #b89c6d;
        margin-top: -381px;
        
      }

    .servicios {
        margin-top: 90px;
      }
    .footer img {
        width: 15%;
      }
      
}

/*cabañas*/
@media screen and ( max-width: 800px) {

    .cabaña-descripcion {
        margin-top: -113px;;
    }
}

@media screen and ( max-width: 576px) {
    .cabaña-descripcion {
        margin-top: -210px;
    }
}

@media screen and ( max-width: 320px) {
    .nuestras-cabañas {
        height: 50px;
    }
    .cabaña-descripcion {
        margin-top: -375px;
    }
}

/*Ubicación*/

@media screen and ( max-width: 576px) {
    iframe  {
       width: 100%;
    }
    .nuestra-ubicacion {
        height: 300px;
    }
}

@media screen and ( max-width: 320px) {
    .nuestra-ubicacion {
        height: 500px;
    }
    iframe  {
        width: 100%;
        height: 70%;
     }
}

/*Contacto*/

@media screen and ( max-width: 800px) {
    .contactanos {
        height: 300px;
    }
    .form-contacto {
        width: 75%;
        margin-left: 12%;
    
    }
}

@media screen and ( max-width: 576px) {
    .form-contacto {
        width: 100%;
        margin-left: 10%;
    
    }
}
