.navbar {
    
        height: 100px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65px;
        z-index: 1;
        text-align: center;
        background-color: #c78006;
    
    &-toggler-icon  {
        background-size: 78%;
    }
    &-toggler {
        background-color: #c78006 ;
    }
    &-collapse {
        background-color: #c78006f6;
    }
    .bg-menu {
       background-color:$fondonav; 
    }
    .nav-link {
        color: $colortexto;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
    } 
}