$fondonav: #be7b06;
$colortexto: #fcf0f0;
$fondotexto: #b89c6d; 
$fuentetitulo: 'Staatliches', cursive;
$fuentetextos: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
